<div id = "calculatrice" >
    Number Palette works !
    <div class = "calc-screen">
        
        {{expression}} <br>
        {{result}}

    </div>
    <div class = "calc-buttons">
        <ul>
            <li class = "calc-btn" (click)="btnClicked($event)">1</li>
            <li class = "calc-btn" (click)="btnClicked($event)">2</li>
            <li class = "calc-btn" (click)="btnClicked($event)">3</li>
            <li class = "calc-btn" (click)="btnClicked($event)">+</li>
        </ul>
        <ul>
            <li class = "calc-btn" (click)="btnClicked($event)">4</li>
            <li class = "calc-btn" (click)="btnClicked($event)">5</li>
            <li class = "calc-btn" (click)="btnClicked($event)">6</li>
            <li class = "calc-btn" (click)="btnClicked($event)">-</li>
        </ul>
        <ul>
            <li class = "calc-btn" (click)="btnClicked($event)">7</li>
            <li class = "calc-btn" (click)="btnClicked($event)">8</li>
            <li class = "calc-btn" (click)="btnClicked($event)">9</li>
            <li class = "calc-btn" (click)="btnClicked($event)">*</li>
        </ul>
        <ul>
            <li class = "calc-btn" (click)="btnClicked($event)">0</li>
            <li class = "calc-btn" (click)="btnClicked($event)">.</li>
            <li class = "calc-btn" (click)="btnClicked($event)">=</li>
            <li class = "calc-btn" (click)="btnClicked($event)">/</li>
        </ul>

    </div>
    <div>
        <button (click)="cancel()" >Cancel</button>
        <button>Memory</button>
    </div>
</div>