$base-padding : 10px;
$btn-size : 40px;
$calc-width : 350px;
$calc-height: 70px;

#calculatrice {
    background-color: black;
    width: $calc-width;
    border-radius: 3%;
}
.calc-screen {
    width: 320px;
    height: 150px;
    background-color: lightslategrey;
    text-align: right;
    font-size: 40px;
    /* margin-right: 60px; */
    padding-right: 30px;
    line-height: 70px;
}
.calc-buttons{
    width: $calc-width;
    margin: 0px;
    text-align: center;
}

.calc-btn{
    list-style: none;
    margin: 5px;
    display: inline-block;
    line-height: $btn-size;
    text-align: center;
    height: $btn-size;
    width: $btn-size;
    // border-style: ridge;
    border-radius: 100%;
    padding: $base-padding;
    background-color: lightslategray;
    color: green;
}

.calc-btn:hover{
    background-color: lightgreen;
}

ul{
    margin: -1rm;
    padding: 0px;
}

ul>li:last-child {
    background-color: orange;
}


ul>li:last-child:hover {
    background-color: lightgreen;
}
    
    